body {
    background: #222222;
    color: white;
}

#iletisim-bilgileri {
    width: 800px;
    margin: 60px auto;
    text-align: center;
}

#iletisim-bilgileri h1 {
    margin-bottom: 30px;
}

#iletisim-bilgileri p {
    color: #cccccc;
    margin-bottom: 40px;
}

#iletisim-bilgileri ul {
    list-style: none;
    padding: 0;
}

#iletisim-bilgileri li {
    color: #bbbbbb;
    margin: 10px 0;
}

#iletisim-formu {
    width: 800px;
    margin: 60px auto;
    text-align: center;
    background: #333333;
    padding: 40px;
}

#iletisim-formu h2 {
    margin-bottom: 30px;
}

#iletisim-formu form {
    text-align: left;
}

#iletisim-formu label {
    display: block;
    margin-bottom: 10px;
    color: #cccccc;
}

#iletisim-formu input, 
#iletisim-formu textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: #444444;
    border: none;
    color: white;
}

#iletisim-formu button {
    background: #48f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#iletisim-formu button:hover {
    background: #37e;
}
